.horario{
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: 60px;
    margin-left: 200px;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}

.thHora{
    padding-left: 15px;
}